.header {
    height: 40px;
    width: 100vw;
    background: rgb(243, 131, 245);
    position: fixed;
    top: 0;
}

body{
  margin:0;
}

.header-text {
  color: aliceblue;
  font-size: x-large;
  width: 100vw;
  text-align: left;
  margin-left: 32px;
  position: fixed;
  top: 3px;
}

.entryform-element{
  text-align: center;
  margin-top:50px;
}

  table{
    margin:10px 20px 0px 0px;
}

