.header {
    height: 40px;
    width: 60%;
    background: rgb(243, 131, 245);
    position: fixed;
    top: 0;
    margin-left:20%;
}

body{
  margin:0;
}

div.header-text {
    color: aliceblue;
    font-size:larger;
    position: fixed;
    top: 10px;
    text-align: center;
    width: 60%;
  }

.entryform-element{
  text-align: center;
  margin-top:50px;
}

  table{
    margin:10px 20px 0px 0px;
}

