.header {
    height: 50px;
    width: 100vw;
    background: rgb(233, 128, 236);
    position: fixed;
    top: 0;
    font-weight: 50%;
}

div.header-text {
    color: aliceblue;
    font-size:larger;
    position: fixed;
    top: 10px;
    text-align: center;
    width: 100vw;
  }

.entryform-element{
  text-align: center;
  margin-top:10px;
}