body {
    margin: 0;
}

.header {
    height: 50px;
    width: 100vw;
    background: rgb(233, 128, 236);
    position: fixed;
    top: 0;
}

.header-text {
    color: aliceblue;
    font-size: x-large;
    width: 100vw;
    text-align: left;
    margin-left: 32px;
    position: fixed;
    top: 10px;
}

.main {
    background: rgb(170, 236, 206);
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    top: 50px;
}

.margin {
    margin: 30px;
    margin-bottom: 250px;
}

.div_button_center {
    text-align: center;
    margin-top: 3%;
}

.post_button {
    color: rgb(255, 254, 254);
    background-color: rgb(118, 223, 176);
    height: 96px;
    border: 3px solid green;
    width: 700px;
    font-size: xx-large;
}

.taskContainer {
    text-align: center;
    margin: 16px;
}

.div_tasks_center {
    margin: 32px;
    text-align: center;
    width: 50wn;
}

.imgP {
    border-radius: 16px;
    margin: 32px;
}

.flexer {
    background-color: rgba(148, 148, 148, 0.24);
    margin: 64px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px;
}

.titleP {
    font-size: xx-large;
    color:rgb(66, 66, 66);
}

.likeP {
    font-size: x-large;
    color:rgb(233, 128, 236);
}

.dislikeP {
    font-size: x-large;
    color:rgb(106, 95, 255);
}

.button-gender{
    text-align: center;
    margin-top: 3%;
}

#gender-all{
    width:300px;
    border-radius: 100vh;
    font-size: large; 
    padding:5px;
}

#gender-man{
    width:300px;
    border-radius: 100vh;
    font-size: large;
    padding:5px;
}

#gender-woman{
    width:300px;
    border-radius: 100vh;
    font-size: large;
    padding:5px;
}